<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table bgcolor="red">
        <tr>
            <td> Name </td>
            <td>
                <%= name %>
            </td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>
                <%= phy %>
            </td>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td>
                <%= che %>
            </td>
        </tr>
        <tr>
            <td>Maths</td>
            <td>
                <%= mat %>
            </td>
        </tr>
        <tr>
            <td>Total</td>
            <td>
                <%= phy+che+mat %>
            </td>
        </tr>
        <tr>
            <td>Percentage</td>
            <td>
                <%= (phy+che+mat)*100/450 %>
            </td>
        </tr>
        <% let remarks let color let per=(phy+che+mat)*100/450 if (per>=60) {
            remarks="passed"
            color="green"
            }else{
            remarks="failed"
            color="pink"
            }
            %>
            <tr bgcolor="<%= color %>">
                <td>Remarks</td>
                <td>
                    <%=remarks%>
                </td>
            </tr>
    </table>
</body>

</html>
